<main class="container full__details" *ngIf="product">
  <div class="full__details-product-column">
    <!-- Product Description -->
    <div class="full__details-product-column-main">
      <div class="full__details-product-column-description">
        <h1>{{ product.name }}</h1>
        <span>{{ product.url }}</span>

        <p>
          {{ product?.description }}
        </p>
        <p>
          {{ product?.additionalInfo }}
        </p>
      </div>
      <img
        class="full__details-product-column-description-logo"
        src="{{ product.image }}"
        onError="this.src='https://www.nicepng.com/png/full/117-1174791_cloud-services-icon-cloud-service-icon-png.png';"
      />
    </div>

    <div class="full__details__fotter" *ngIf="product.pricing">
      <div class="full__details__fotter-dynamic-info">
        <span>Cost of operation</span>
        <div *ngFor="let pricingItem of pricing">
          <div
            *ngFor="let item of pricingItem | keyvalue"
            class="dynamic-info-pricing"
          >
            <ng-container *ngIf="item.key && item.value">
              <b>{{ item.key | titlecase }}</b> : {{ item.value }}
            </ng-container>
          </div>
        </div>
      </div>
      <div class="full__details__fotter-dynamic-info">
        <span>Attributes</span>
        <div
          *ngFor="let item of attributes | keyvalue"
          class="dynamic-info-pricing"
        >
          <ng-container *ngIf="item.key && item.value">
            <b>{{ item.key | titlecase }}</b> : {{ item.value }}
          </ng-container>
        </div>
      </div>
    </div>
    <div class="full__details__fotter-product-recomendation">
      <span>Our specialist recommendations</span>
      <div class="full__details__fotter-product-recomendation-wrapper">
        <img
          src="http://www.webcoderskull.com/img/team4.png"
          class="img-responsive-avatar"
          alt=""
        />

        <div class="content-wrapper">
          <div class="personal-info">
            <h2>Jane Doe</h2>
            <p class="title">CTO &amp; Founder</p>
          </div>

          <p>
            Some text that describes why this product is recommended lorem ipsum
            ipsum lorem.
          </p>
          <p>example@codevalue.com</p>
          <div class="card-footer">
            <button class="btn btn-primary" href="#" role="button">
              Contact
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="full__details-products-by-vendor">
    <div *ngFor="let product of vendorProducts | async">
      <product-card
        (navigateTo)="navigateToOverView($event)"
        (addProductToList)="addProductTolist($event)"
        [cardItem]="product"
      ></product-card>
    </div>
  </div>
</main>
